.body{
  display:flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.table{
  font-family: system-ui, serif;
  font-size: 2rem;
  padding: 3rem;
  border-radius: 1rem;
  background: #ff6e6c;
}





